<nav>
    <a routerLink="/books">Back to books</a>
</nav>

<h1>Add a new book</h1>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group col-md-6">
        <input name="title" class="form-control" placeholder="Title" ngModel required>
    </div>
    <div class="form-group col-md-6">
        <input name="author" class="form-control" placeholder="Author" ngModel required>
    </div>
    <div class="form-group col-md-6">
        <input name="description" class="form-control" placeholder="Description" ngModel required>
    </div>
    <div class="form-group col-md-6">
        <input name="price" class="form-control" placeholder="Price" ngModel required>
    </div>
    <div class="form-group col-md-6">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>